{% extends 'base.html' %}

{% block content %}
<br>
    <details>
        <summary> [ Cadastrar novo personagem ] </summary>
        <div class="col-md-4">
            <form action="{{url_for('cadninjas')}}" method="POST">
                <input type="text" name="nome" placeholder="Nome do Personagem" class="form-control" required>
                <input type="text" name="aldeia" placeholder="Aldeia" class="form-control" required>
                <input type="text" name="rank" placeholder="Rank" class="form-control" required>
                <br>
                <input type="submit" value="Cadastrar" class="btn btn-success">
                <input type="reset" value="Limpar" class="btn btn-danger">
            </form>
        </div>
    </details>
    <hr>
    <h5> Personagens Cadastrados: </h5>

    <h5> Controle de Personagens </h5>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th> Nome: </th>
                <th> Aldeia: </th>
                <th> Rank: </th>
                <th style="text-align: center;" colspan="2"> Ações: </th>
            </tr>
        </thead>
        <tbody>
            {% for personagem in personagens.items %}
            <tr>
                <td>{{personagem.nome}}</td>
                <td>{{personagem.aldeia}}</td>
                <td>{{personagem.rank}}</td>
                <td><a style="color: orange; text-decoration: none;" href="{{url_for('editninja', id=personagem.id)}}"> Editar </a></td>
                <td><a style="color: red; text-decoration: none;" href="{{url_for('deleteninja', id=personagem.id)}}" onclick="return confirm('Deseja mesmo excluir o personagem {{personagem.nome}} ?')"> Excluir </a></td>
            </tr>  
            {% endfor %}      
        </tbody>
    </table>

    <!-- Links de Paginação -->
    <p style="text-align: center";>
        {% if personagens.has_prev %}
            <a href="{{ url_for('cadninjas', page=personagens.prev_num) }}"><< Anterior</a>
        {% endif %}
        
        {% if personagens.has_next %}
            <a href="{{ url_for('cadninjas', page=personagens.next_num) }}">Próximo >></a>
        {% endif %}
    </p>

{% endblock content %}
